
.icon-mail:before { content: '\e800'; } /* '' */
.icon-right-open:before { content: '\e801'; } /* '' */
.icon-left-open:before { content: '\e802'; } /* '' */
.icon-facebook-squared:before { content: '\e803'; } /* '' */
.icon-gplus-squared:before { content: '\e804'; } /* '' */
.icon-instagramm:before { content: '\e805'; } /* '' */
.icon-linkedin-squared:before { content: '\e806'; } /* '' */
.icon-youtube:before { content: '\e807'; } /* '' */
.icon-twitter:before { content: '\e808'; } /* '' */
.icon-pinterest-squared:before { content: '\e809'; } /* '' */
.icon-chat:before { content: '\e80a'; } /* '' */
.icon-info-circled:before { content: '\e80b'; } /* '' */
.icon-help-circled:before { content: '\e80c'; } /* '' */
.icon-basket:before { content: '\e80d'; } /* '' */
.icon-search:before { content: '\e80e'; } /* '' */